# Neon Database connection URL
DATABASE_URL=postgresql://user:password@host/database_name?sslmode=require

# Choose Model Backend: 0 -> Gemini ML Dev API, 1 -> Google Cloud Vertex AI
GOOGLE_GENAI_USE_VERTEXAI=1

# ML Dev backend configuration key
GOOGLE_API_KEY=YOUR_GEMINI_API_KEY_HERE
YOUTUBE_API_KEY=YOUR_YOUTUBE_API_KEY_HERE

# Vertex backend configuration context
GOOGLE_CLOUD_PROJECT=your_google_cloud_project_here
GOOGLE_CLOUD_LOCATION=us-central1
